!!! 5
html
  head
    title= title
  body
    p
      strong.rawr
      span.meow.mix
        | some text
      div#foo.bat(style='asdf')
      div.one.two.three(style="postion: absolute;") meow to the mix
        | but srsly
    ul
      each meow, i in mix
        li
          b= i
          = meow
